<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    
    <main class="usersForm-container">
        
        <div>
            <h3>Cambio de contraseña</h3>
        </div>

        <form id="form" action="/user/cambiarContrasenia/<%= user.id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded" class="form-ad" >
            
            <!-- Campo Password -->

            <div class="form_user">
                <input 
                    id="pass" 
                    type="password" 
                    name="pass" 
                    placeholder="Nueva contraseña"
                    value="<%= locals.old && old.pass %>"
                />
                <span id="passErrors" class="text_error">
                    <% if(locals.errors && errors.pass) { %>
                        <%= errors.pass.msg %>
                    <% } %>
                </span>
            </div>

            <!-- Campo Password 2 -->

            <div class="form_user">
                <input 
                    id="pass2" 
                    type="password" 
                    name="pass2" 
                    placeholder="Repetir contraseña"
                    value="<%= locals.old && old.pass2 %>"
                />
                <span id="pass2Errors" class="text_error">
                    <% if(locals.errors && errors.pass2) { %>
                        <%= errors.pass2.msg %>
                    <% } %>
                </span>
            </div>
        
            <!-- Boton de submit -->

            <button type="submit">CAMBIAR CONTRASEÑA</button>

        </form>
        
    </main>
<%- include('partials/footer')%>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/userChangePassword.js"></script>
</body>
</html>